.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-attachment: fixed;
}
